@import "../../styles/variables.scss";
@import "../../styles/reset.scss";

.card{
    position: relative;
    background-color: $white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    padding-top: 20px;
    &:hover{
        text-decoration: none;
    }
    .cardHeader{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .cardIcon{
        color: $blue;
    }
    .cardItem{
        color:$black;
        font-weight: 800;
        font-family: 'Rubik', sans-serif;
        span{
            font-weight: 400;
        }
    }
    .cardFooter{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .btn-card{
        background-color: $blue;
        color: $white;
    }

}