@import "../../styles/reset.scss";
@import "../../styles/variables.scss";

.title{
    color: $black;
    font-family: $fontPrimary;
    font-size: 24px;
    margin: 30px 0;
}

.title-list{
    font-size: 22px;
    color: #333;
    margin-top: 28px;
}

.list-carrito{
    margin-bottom: 16px;
}